@media (max-width: 1200px)
    .container
        max-width: 990px
        padding: 0
        margin: auto
    .header-block
        width: 550px
    .header-logo
        font-size: 20px
        line-height: 20px
    .hotel-content
        flex-wrap: wrap
        justify-content: center
    .hotel-details
        margin-top: 30px
        display: flex
        justify-content: space-between
        width: 728px
    .review
        margin-bottom: 70px
    .review-slider>.slick-prev
        left: -40px
    .review-slider>.slick-next
        right: -40px
    .activities-group
        justify-content: center
        flex-wrap: wrap
    .activities-item
        margin-right: 20px
        margin-bottom: 20px
        &:nth-child(2), &:nth-child(4)
            margin-right: 0
    .activities-item::before
        width: 340px
    .activities-item_img
        object-fit: cover
        width: 340px
@media (max-width: 992px)
    .container
        max-width: 768px
        padding: 0 34px
    .hotel-slider
        margin-bottom: 30px
        width: 700px !important
    .hotel-slide::before
        width: 700px
    .hotel-slide img
        width: 700px
    .hotel-content
        flex-direction: column
    .hotel-details
        display: flex
        justify-content: space-between
        width: 700px
        margin-bottom: 20px
    .hotel-options
        margin-bottom: 0
        width: 340px
    .options-btn
        padding: 13px 78px
    .hotel-map
        width: 340px
    .item-text
        max-width: 579px
    .review-slider
        width: 579px!important
    .review-slider>.slick-prev
        left: -40px
    .review-slider>.slick-next
        right: -40px
    .activities-group
        flex-wrap: wrap
    .activities-item
        margin-right: 20px
        margin-bottom: 20px
        &:nth-child(2), &:nth-child(4)
            margin-right: 0
    .activities-item::before
        width: 340px
    .activities-item_img
        object-fit: cover
        width: 340px
    .newsletter-block
        width: 700px
    .header-block
        width: 520px
    .header-logo
        font-size: 18px
        line-height: 18px
    .footer-logo
        font-size: 40.0964px
        line-height: 40px
    .review-title
        font-size: 30px
        line-height: 38px
    .nav-link
        font-size: 12px
        line-height: 15px
    .footer-wrapper
        grid-template-columns: minmax(min-content, 2fr) repeat(2, 1.5fr) minmax(min-content, 2fr)
        grid-template-rows: repeat(2, minmax(30px, max-content)) repeat(2, minmax(45px, max-content))
        grid-gap: 0
    .footer__logo
        grid-row: 1 / 2
        grid-column: 1 / 2
    .footer-categories
        grid-row: 3 / 4
        grid-column: 1 / 2
    .footer-additionals
        grid-row: 3 / 4
        grid-column: 2 / 4
        justify-self: center
    .footer-social
        grid-row: 1 / 2
        grid-column: 2 / 4
        justify-self: center
    .footer-legal
        grid-row: 3 / 4
        grid-column: 4 / 5
    .footer-details
        grid-column: span 5
        grid-row: 5 / 6
        margin-bottom: 60px
    .footer-form
        width: 540px
        grid-column: span 5
        grid-row: 7 / 8
    .footer-bottom
        margin-top: 63px
    .footer-bottom__list
        grid-column: 1 / 4
        justify-self: start
    .footer-bottom__img
        width: 136px
        height: 22px
        justify-self: end
@media (max-width: 760px)
    .container
        max-width: 320px
        padding: 0 20px
    .burger
        display: block
    .header
        padding: 0
        & .container
            padding: 28px 20px
    .header-logo
        font-size: 13.4237px
        line-height: 13px
    .header-search
        display: none
    .header-profile
        display: none
    .nav
        height: calc(100vh - 69px)
        & .container
            display: flex
            flex-direction: column
        .header-search
            display: flex
        .header-profile
            display: flex
    .header-profile
        margin-top: 31px
        flex-direction: column
        margin-bottom: 27px
    .header-avatar
        margin-bottom: 10px
    .header-text
        color: #fff
    .header-input
        width: 180px
    .nav-list
        flex-direction: column
    .nav-item
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
    .hotel-raiting
        display: none
    .hotel-info
        position: relative
    .hotel-block
        display: block
        align-items: flex-start
    .hotel-name
        width: 280px
    .hotel-offer
        width: 70px
        position: absolute
        top: -20px
        left: 0
    .hotel-tags
        width: 280px
    .hotel-stars
        position: absolute
        top: -13px
        right: 30px
    .hotel-slide img
        width: 280px
        height: 180px
    .hotel-slide::before
        width: 280px
        height: 180px
    .slick-prev
        left: 10px
    .slick-next
        right: 20px
    .hotel-slider
        width: 280px!important
    .hotel-options
        width: 280px
        height: 210px
        margin-bottom: 20px
    .options-btn
        padding: 13px 48px
    .hotel-details
        margin-top: 0
        flex-wrap: wrap
        width: 280px
    .hotel-map
        width: 280px
        height: 172px
        margin-bottom: 40px
    .newsletter-block
        width: 280px
        flex-wrap: wrap
    .newsletter-text
        margin-bottom: 37px
    .review-title
        font-size: 18px
        line-height: 23px
        width: 245px
    .review-slider
        width: 280px!important
        height: 483px!important
    .item-text
        width: 280px
        padding: 136px 29px 36px 33px
    .review-slider>.slick-next
        right: 47px
        top: 36px
    .review-slider>.slick-prev
        left: 45px
        top: 36px
    .review
        margin-bottom: 90px
    .activities-title
        margin-bottom: 36px
    .activities-item_img
        width: 280px
        height: 255px
    .activities-item::before
        width: 280px
        height: 255px
    .activities-item
        margin-right: 0
        &:last-child
            margin-bottom: 60px
    .footer-wrapper
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(9, minmax(30px, max-content)) repeat(2, minmax(40px, max-content)) repeat(2, minmax(60px, max-content))
    .footer-categories
        grid-row: 9 / 10
        grid-column: 1 / 5
    .footer-additionals
        grid-row: 7 / 8
        grid-column: 1 / 5
        justify-self: start
    .footer-social
        grid-row: 3 / 4
        grid-column: 1 / 5
        justify-self: start
        display: flex
        flex-direction: column
    .footer-legal
        grid-row: 5 / 6
        grid-column: 1 / 5
        margin-left: 0
    .footer-details
        grid-row: 11 / 12
        grid-column: 1 / 5
    .footer-form
        width: 100%
        grid-row: 13 / 14
        grid-column: 1 / 5
    .footer-bottom__list
        grid-column: 1 / 5
        min-width: 100%
    .footer-bottom__img
        grid-column: 1 / 5
        margin-top: 10px
        justify-self: start
    .footer-input__group
        flex-basis: 100%
    .footer-social .footer-title
        margin: 0 0 20px 0
    .footer-social__links
        align-self: flex-start
    .mobile_hidden
        display: none
    .modal
        padding: 15px 60px
        width: 400px
        height: 450px
